<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @person.firstname %>
</p>

<p>
  <strong>Middlename:</strong>
  <%= @person.middlename %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @person.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Residence:</strong>
  <%= @person.residence %>
</p>

<% if @person.image.attached? %>
  <p>
    <strong>Image:</strong>
    <%= image_tag @person.image.variant(resize_to_limit: [200, 200]) %>
  </p>
<% end %>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
