<%= form_with(model: image_query) do |form| %>
  <% if image_query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image_query.errors.count, "error") %> prohibited this image_query from being saved:</h2>

      <ul>
        <% image_query.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.text_field :person_id %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
